* {
  box-sizing: border-box;
}

html {
  background-color: #eee;
  font-size: 16px;
  @media (max-width: $pad) {
    font-size: 14px;
  }
  @media (max-width: $mobile) {
    font-size: 12px;
  }
}

html, body {
  overflow: hidden;
}

#wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  max-height: calc(100vh - 60px - 40px);
  overflow-y: auto;
  overflow-x: hidden;
}